// text gray
$darkgray: #231f20;

// background gray
$lightgray: #eaebec;

// transparent background gray
$lightgraytrans: rgba(234, 235,236, .6);

// hover aqua
$teal:#2ab6bc;

// hover purple
$purple: #690052;

// social icon background
$medgray: #C2C4C7;
